/* crete-round-regular - latin */
@font-face {
  font-family: "Crete Round";
  font-style: normal;
  font-weight: 400;
  src:
    local(""),
    url("./fonts/crete-round-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/crete-round-v14-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* patua-one-regular - latin */
@font-face {
  font-family: "Patua One";
  font-style: normal;
  font-weight: 400;
  src:
    local(""),
    url("./fonts/patua-one-v16-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/patua-one-v16-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
