@use "variables" as *;

/**
* Fonts
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", cursive;
}

a.page-link {
  font-size: $base-font-size * 1.3;
}

table,
td,
th {
  border: 1px solid #ccc;
  border-collapse: collapse;
}

td {
  padding: 0.4em 1.3em;
}

tbody tr:nth-child(odd) {
  background-color: #eee;
}

.site-nav .page-link:active,
.site-nav .page-link--active {
  font-weight: bold;
  color: black;
  text-decoration: underline;
}

.site-header__image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: url("/images/header.jpg");
  background-size: cover;
  background-position: 30% 45%;
  opacity: 0.3;
}

.no-wrap {
  white-space: nowrap;
  vertical-align: top;
}
