---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Fotogalerie"
  teaserImage="/images/fotogalerie.jpg"
  teaserPosition="50% 38%"
  teaserAltText="Willkommen beim Obst- und Gartenbauverein Pattenhofen Altenthann e.V."
>
  <h1>Fotogalerie</h1>

  <p>Hier finden Sie Bilder von vergangenen Veranstaltungen</p>
  <a
    href="https://www.flickr.com/photos/ogv-altenthann/albums"
    target="_blank"
    rel="noopener"
  >
    Fotogalerie OGV Pattenhofen-Altenthann bei Flickr
  </a>

  <p>
    <a
      href="https://www.kv-gartenbau-nl.de/images/eigene/"
      target="_blank"
      rel="noopener"
    >
      Fotoschau des OGV Kreisverband Nürnberger Land - Einblicke in unsere
      Gärten
    </a>
  </p>
</Layout>
