---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Impressum"
  teaserImage="/images/impressum.jpg"
  teaserPosition="55% 67%"
  teaserAltText="Willkommen beim Obst- und Gartenbauverein Pattenhofen Altenthann e.V."
>
  <h1>Impressum</h1>

  <p>Verantwortlich:</p>

  <p>
    Thomas Schmid
    <br />
    Pattenhofener Str. 18
    <br />
    90592 Schwarzenbruck
    <br />
  </p>

  <h3>Links</h3>
  <a href="http://www.kv-gartenbau-nl.de/" target="_blank" rel="noopener">
    Kreisverband Nürnberger Land
  </a>
  <br />
  <a href="http://www.gartenbauvereine.org/" target="_blank" rel="noopener">
    Landesverband Bayern
  </a>
  <br />
  <br />
  <h3>Datenschutz</h3>
  <p>
    <a href="/datenschutz">Unsere Datenschutzerklärung</a>
  </p>
</Layout>
