---
import Layout from '../layouts/Layout.astro';
import Ankuendigungen from '../components/Ankuendigungen.astro';
---

<Layout
  title="Herzlich Willkommen"
  teaserImage="/images/willkommen.jpg"
  teaserPosition="50% 27%"
  teaserAltText="Willkommen beim Obst- und Gartenbauverein Pattenhofen Altenthann e.V."
>
  <h1>Herzlich Willkommen</h1>
  <p>
    auf der Homepage des Vereins für Gartenbau und Landespflege
    Pattenhofen-Altenthann e.V.
  </p>

  <p>
    Wir freuen uns, dass Sie unsere Seite angeklickt haben. Hier finden Sie
    Infos über Verein, Arbeit, Veranstaltungen und Geräte.
  </p>
  <p>
    Viel Spaß beim Durchschauen. Vielleicht haben wir Ihr Interesse geweckt
    und sehen Sie bald bei einer unserer Veranstaltungen.
  </p>
  <p>
    Ihr
    <br /> Gartenbauverein
  </p>

  <Ankuendigungen />

  <img
    src="/images/ogv_logo.gif"
    alt="Logo OGV"
    loading="eager"
  />

  <br />

  <a href="/leader_tafel">
    <img
      alt="LEADER Projekttafel (Printversion)"
      src="/images/leader/leader_tafel.jpg"
      style="border-radius: 5px;"
    />
  </a>
</Layout>
