---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Mitgliedschaft"
  teaserImage="/images/mitgliedschaft.jpg"
  teaserPosition="50% 47%"
  teaserAltText="Willkommen beim Obst- und Gartenbauverein Pattenhofen Altenthann e.V."
>
  <h1>Mitgliedschaft</h1>
  <p>
    Liebe Besucher unserer Homepage. Wenn Sie interessiert sind und in der
    Nähe wohnen können Sie gern Mitglied werden. Wir freuen uns darauf.
  </p>

  <p>
    Der Mitgliedsbeitrag beträgt 18 € jährlich. Eine Haftpflicht- und
    Unfallversicherung ist im Betrag enthalten.
  </p>

  <p>
    Die monatlich erscheinende Fachzeitschrift "Gartenratgeber" kann als
    Mitglied über den Verein abonniert werden.
  </p>

  <p>
    Hier können Sie einen{" "}
    <a target="_blank" href="/download/beitrittserklaerung_ogv_pattenhofen_altenthann.pdf" rel="noopener">
      Mitgliedsantrag herunterladen
    </a>{" "}
    und ausdrucken.
  </p>
</Layout>
