---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Anfrage best채tigt"
  teaserImage="/images/mosterei.jpg"
  teaserPosition="50% 57%"
  teaserAltText="Mosterei"
>
  <h1>Vielen Dank f체r Ihre Anfrage!</h1>

  <p>
    Wir haben Ihre Mosttermin-Anfrage erhalten und werden uns in K체rze bei
    Ihnen melden, um einen Termin zu vereinbaren.
  </p>

  <p>
    <a href="/">Zur체ck zur Startseite</a>
  </p>
</Layout>
