---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Veranstaltungen"
  teaserImage="/images/veranstaltungen.jpg"
  teaserPosition="50% 38%"
  teaserAltText="Willkommen beim Obst- und Gartenbauverein Pattenhofen Altenthann e.V."
>
  <h1>Jahresprogramm 2025</h1>
  <p>
    <table>
      <tr>
        <td style="white-space: nowrap; vertical-align: top;">
          13.03.2025
        </td>
        <td>Helferessen, im Weissen Kreuz, 19:00 Uhr</td>
      </tr>

      <tr>
        <td style="white-space: nowrap; vertical-align: top;">
          20.03.2025
        </td>
        <td>
          Jahreshauptversammlung, 19:00 Uhr im Gasthaus "Weisses Kreuz".
        </td>
      </tr>

      <tr>
        <td style="white-space: nowrap; vertical-align: top;">
          04.04.2025
        </td>
        <td>Flurreinigung, 17:00 Uhr altes Feuerwehrhaus.</td>
      </tr>
      <tr>
        <td style="white-space: nowrap; vertical-align: top;">
          02.05.2025
        </td>
        <td>
          Kräuterwanderung. 16:00 Uhr bei Fr. Anita Schrödel, Oberdorf 5,
          Lindelburg.
          <br />
          Treffpunkt am Weiher in Altenthann, Abfahrt in Fahrgemeinschaften
          um 15:45 Uhr.
        </td>
      </tr>
      <tr>
        <td style="white-space: nowrap; vertical-align: top;">
          16.05.2025
        </td>
        <td>
          Alternativtermin für die Kräuterwanderung. Ort wird noch bekannt
          gegeben.
        </td>
      </tr>
      <tr>
        <td style="white-space: nowrap; vertical-align: top;">
          04.07.2025
        </td>
        <td>Vereinsabend, 19:30 im Gasthaus "Weisses Kreuz"</td>
      </tr>

      <tr>
        <td style="white-space: nowrap; vertical-align: top;">
          19.07.2025
        </td>
        <td>
          Schnittkurs, Treffpunkt um 14:00 Uhr am Vereinsheim in Weinhof.
        </td>
      </tr>

      <tr>
        <td style="white-space: nowrap; vertical-align: top;">
          24.07.2025
        </td>
        <td>Mostersitzung, 19:00 Uhr altes Feuerwehrhaus</td>
      </tr>

      <tr>
        <td style="white-space: nowrap; vertical-align: top;">
          30.08.2025
        </td>
        <td>Obstbaumversteigerung, 14:00 Uhr altes Feuerwehrhaus</td>
      </tr>

      <tr>
        <td style="white-space: nowrap; vertical-align: top;">
          14.09.2025
        </td>
        <td>Herbstwanderung nach Rasch, 10:00 Uhr altes Feuerwehrhaus</td>
      </tr>
    </table>
  </p>
  <p>
    Weitere Veranstaltungen die noch nicht terminiert sind werden
    rechtzeitig in der Tageszeitung veröffentlicht.
  </p>
</Layout>
