---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Veranstaltungen"
  teaserImage="/images/veranstaltungen.jpg"
  teaserPosition="50% 38%"
  teaserAltText="Willkommen beim Obst- und Gartenbauverein Pattenhofen Altenthann e.V."
>
  <h1>Jahresprogramm 2026</h1>
  <p>
    <table>
      <tr>
        <td style="white-space: nowrap; vertical-align: top;">
          12.03.2026
        </td>
        <td>Helferessen, 19:00 Uhr, im Gasthaus „Weißes Kreuz"</td>
      </tr>

      <tr>
        <td style="white-space: nowrap; vertical-align: top;">
          20.03.2026
        </td>
        <td>
          Jahreshauptversammlung mit Neuwahl des Vorstandes, 19:00 Uhr im
          Gasthaus „Weißes Kreuz"
        </td>
      </tr>

      <tr>
        <td style="white-space: nowrap; vertical-align: top;">
          27.03.2026
        </td>
        <td>Flurreinigung, 16:00 Uhr am Weiher</td>
      </tr>

      <tr>
        <td style="white-space: nowrap; vertical-align: top;">
          03.07.2026
        </td>
        <td>Vereinsabend, 19:00 Uhr, im Gasthaus „Weißes Kreuz"</td>
      </tr>

      <tr>
        <td style="white-space: nowrap; vertical-align: top;">
          23.07.2026
        </td>
        <td>Mostersitzung, 19:00 Uhr</td>
      </tr>

      <tr>
        <td style="white-space: nowrap; vertical-align: top;">
          29.08.2026
        </td>
        <td>Obstbaumversteigerung, 14:00 Uhr</td>
      </tr>

      <tr>
        <td style="white-space: nowrap; vertical-align: top;">
          20.09.2026
        </td>
        <td>Herbstwanderung</td>
      </tr>
    </table>
  </p>
  <p>
    Weitere Veranstaltungen die noch nicht terminiert sind werden
    rechtzeitig in der Tageszeitung veröffentlicht.
  </p>
</Layout>
