body {
    max-width: 2000px;
    margin: auto;
}

main.content {
    max-width: 750px;
    margin: 50px auto;
}

header {
    padding-bottom: 15px;
}

header .content {
    max-width: 750px;
    margin:0 auto;
}


@media screen and (max-width: 800px) {
    main.content {
        margin: 0 25px;
    }

   
}

.teaser-image {
    height: 300px;
    background-size: cover;
}

@media screen and (max-width: 600px) {
    .teaser-image {
        height: 180px;
    }

    .nav__menu {
        display: flex;
        // flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav__item {
        margin: 10px 20px;
        min-width: 170px;
    }
}



*,
*::before,
*::after {
    box-sizing: border-box;
}

.nav__menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.nav ul {
    margin-left: initial;
}

.nav__item {
        list-style: none;
        white-space: nowrap;
}

.nav__link {
    margin-right: 20px;
}