.teaser-image {
    height: 300px;
    background-size: cover;
}

.teaser-image--kurzchronik {
    background-image: url(/assets/img/kurzchronik.jpg);
    background-position: 50% 73%;
}

.teaser-image--vereinszweck {
    background-image: url(/assets/img/vereinszweck.jpg);
    background-position: 55% 67%;
}

.teaser-image--geraete {
    background-image: url(/assets/img/geraete.jpg);
    background-position: 50% 96%;
}

.teaser-image--impressum {
    background-image: url(/assets/img/impressum.jpg);
    background-position: 55% 67%;
}


.teaser-image--willkommen {
    background-image: url(/assets/img/willkommen.jpg);
    background-position: 50% 27%;
}

.teaser-image--kontakt {
    background-image: url(/assets/img/kontakt.jpg);
    background-position: 50% 31%;
}

.teaser-image--mitgliedschaft {
    background-image: url(/assets/img/mitgliedschaft.jpg);
    background-position: 50% 47%;
}

.teaser-image--veranstaltungen {
    background-image: url(/assets/img/veranstaltungen.jpg);
    background-position: 50% 47%;
}